@page "/"

<PageTitle>BlazorServerUI</PageTitle>

<section>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudText Typo="Typo.h2">Hello, world!</MudText>
        <MudText Typo="Typo.h5">Welcome to your new app.</MudText>
    </MudContainer>
</section>
