@inherits LayoutComponentBase
@attribute [DiscoverCollocatedJS]

<CascadingValue Name="LayoutName" Value="@LayoutName">
    <div class="d-flex" style="min-width: 350px;">

        <Sidebar />

        <div id="sidebar-expanded" class="offcanvas offcanvas-start" tabindex="-1">
            <Sidebar Class="sidebar-offcanvas" />
        </div>

        <nav id="topbar" class="navbar d-flex align-items-center d-md-none fixed-top px-2 shadow-sm">
            <button type="button" class="hamburger-button" title="Show navigation menu" data-bs-toggle="offcanvas" data-bs-target="#sidebar-expanded" aria-label="Open navigation">
                <div class="hamburger rounded">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </button>
            <ThemePicker Class="ms-auto" />
        </nav>

        <main class="container-fluid mt-3 mt-md-0 mb-3 pt-5 pt-md-0">
            @Body
        </main>

        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </div>
</CascadingValue>

<JS For="this" Key="SidebarLayout" />

@code {
    private const string LayoutName = "SidebarLayout";
}
