@page "/"

<PageTitle>Index - Blazor Server</PageTitle>

<div class="container-md">
    <RadzenText TextStyle="TextStyle.H3">Hello, world!</RadzenText>

    <RadzenText>Welcome to your new app.</RadzenText>
</div>

