@page "/counter/interactive"
@rendermode InteractiveServer

<PageTitle>Interactive Counter - BlazorUI</PageTitle>

<h1>Counter - Interactive</h1>

<p>Current count: @_currentCount</p>
<button class="btn btn-primary" type="button" @onclick="IncrementCount">Click me</button>
<button class="btn btn-secondary" type="button" @onclick="ResetCount">Reset</button>

@code {
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount += 1;
    }

    private void ResetCount()
    {
        _currentCount = 0;
    }
}
