::deep .nav-link.active {
    color: #f6fdca; 
    background-color: #ffffff26;
}

::deep .nav-link:hover {
    background-color: #ffffff26;
}

::deep .nav-link {
    border-radius: 0.375rem;
    color: white;
    transition: transform 0.25s cubic-bezier(.62,1.95,.61,.63), background 1.00s cubic-bezier(.15,.76,.33,1);
}

::deep .nav-item {
    margin: 0px 2px;
}

.navbar-brand {
    color: white;
}

.navbar {
    background-color: #1F2937;
}