@inherits LayoutComponentBase

<CascadingValue Name="LayoutName" Value="@LayoutName">
    <div class="d-flex" style="min-width: 350px;">
        <Sidebar />
        <main class="container-fluid">
            @Body
        </main>
    </div>
</CascadingValue>

@code {
    private const string LayoutName = "SidebarLayout";
}