main {
    margin-left: 0rem;
}

#topbar {
    background-color: #1F2937;
}

.hamburger {
    background-color: #475569;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

    .hamburger:hover {
        background-color: white;
    }

        .hamburger:hover .line {
            background-color: #1F2937;
        }

.hamburger-button {
    background-color: transparent;
    margin: -0.5rem;
    margin-right: 0.5rem;
    padding: 0.75rem;
    cursor: pointer;
    border: 0;
}

.line {
    width: 1.5rem;
    height: 0.25rem;
    background-color: white;
    margin: 0.25rem;
}

.offcanvas {
    width: 16rem;
}

@media (min-width: 768px) {
    main {
        margin-left: 16rem;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }