@inject NavigationManager NavMan

<nav class="navbar navbar-dark navbar-expand d-flex fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="img/Blazor.png" width="30" height="30" class="mx-2" />
            Blazor
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto d-none d-md-flex">
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="">Home</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="@($"nav-link dropdown-toggle {(IsCountersMenuActive() ? "active" : "")}")" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Counters
                    </NavLink>
                    <ul class="dropdown-menu bg-dark">
                        <li>
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="counter">
                                Static Counter
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" Match="NavLinkMatch.Prefix" href="counter/interactive">
                                Interactive Counter
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" Match="NavLinkMatch.Prefix" href="counter/js">
                                Javascript Counter
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="@($"nav-link dropdown-toggle")" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lifecycle Demos
                    </NavLink>
                    <ul class="dropdown-menu bg-dark">
                        <li>
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="LifecycleDemo">
                                Static Lifecycle
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="LifecycleDemoAsync">
                                Static Lifecycle v/Async
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="LifecycleDemo/interactive">
                                Interactive Lifecycle
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" Match="NavLinkMatch.All" href="LifecycleDemoAsync/interactive">
                                Interactive Lifecycle v/Async
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="LifetimeDemo">Lifetime Demo</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="SpinDemo">Spinner Demo</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="Weather">Weather</NavLink>
                </li>
            </ul>
            <button id="sidebarButton" type="button" class="d-flex d-md-none hamburger-button ms-auto">
                <div class="hamburger rounded-lg">
                    <div class="opacity-75">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </button>
        </div>

        <i class="theme-switch me-2 text-light fs-4 bi bi-sun-fill"></i>
    </div>
</nav>

@code {
    private bool IsCountersMenuActive()
    {
        string uri = NavMan.Uri.ToLower();
        return uri.Contains("/counter");
    }
}
