@inject NavigationManager NavMan

<nav class="navbar navbar-expand d-flex fixed-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="#">
            <img src="img/Blazor.png" width="28" height="28" alt="Blazor" />
            <span class="fw-semibold">Blazor</span>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto d-none d-md-flex">
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="">Home</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="@($"nav-link dropdown-toggle {(IsCountersMenuActive() ? "active" : "")}")" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Counters
                    </NavLink>
                    <ul class="dropdown-menu shadow-sm">
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="counter">
                                Static Counter
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.Prefix" href="counter/interactive">
                                Interactive Counter
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.Prefix" href="counter/js">
                                Javascript Counter
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="@($"nav-link dropdown-toggle")" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lifecycle Demos
                    </NavLink>
                    <ul class="dropdown-menu shadow-sm">
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="LifecycleDemo">
                                Static Lifecycle
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="LifecycleDemoAsync">
                                Static Lifecycle w/Async
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="LifecycleDemo/interactive">
                                Interactive Lifecycle
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="LifecycleDemoAsync/interactive">
                                Interactive Lifecycle w/Async
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="LifetimeDemo">Lifetime Demo</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="SpinDemo">Spinner Demo</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="Weather">Weather</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="@($"nav-link dropdown-toggle")" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Demos
                    </NavLink>
                    <ul class="dropdown-menu shadow-sm">
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="theme-demo">
                                Theme Demo
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="form-demo">
                                Form Demo
                            </NavLink>
                        </li>
                    </ul>
                </li>
            </ul>
            <button id="sidebarButton" type="button" class="d-flex d-md-none hamburger-button ms-auto" aria-label="Open navigation">
                <div class="hamburger rounded">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </button>
        </div>

        <ThemePicker Class="ms-2" />
    </div>
</nav>

@code {
    private bool IsCountersMenuActive()
    {
        string uri = NavMan.Uri.ToLower();
        return uri.Contains("/counter");
    }
}
