@inherits LayoutComponentBase

<PageTitle>Blazor Server</PageTitle>

<Blazorise.ThemeProvider Theme="@theme">
    
    <Bar Breakpoint="Breakpoint.Desktop"
         Background="Background.Dark"
         ThemeContrast="ThemeContrast.Dark"
         Class="px-3">
        <BarBrand>
            Blazor Server
        </BarBrand>
        <BarToggler />
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="/">Home</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="/Counter">Counter</BarLink>
                </BarItem>
            </BarStart>
            <BarEnd>
            </BarEnd>
        </BarMenu>
    </Bar>

    <main class="container-fluid mt-4">
        @Body
    </main>

</Blazorise.ThemeProvider>

@code {
    private Theme theme = new()
    {
        
    };
}