@inject NavigationManager Nav

<PageTitle>Not Found</PageTitle>

<div class="container">
    <Paragraph TextAlignment="TextAlignment.Center" Class="h3">Sorry, there's nothing at this address.</Paragraph>
    <Divider DividerType="DividerType.Solid" />
    <Button Class="d-flex mx-auto" Color="Color.Primary" @onclick="HandleClick">Go Home</Button>
</div>

@code {
    private void HandleClick()
    {
        Nav.NavigateTo("/");
    }
}