<nav class="navbar navbar-expand-md d-flex fixed-top app-chrome shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="#">
            <img src="img/Blazor.png" width="28" height="28" alt="Blazor" />
            <span class="fw-semibold">Blazor</span>
        </a>

        <div class="d-flex align-items-center order-md-last">
            <ThemePicker Class="me-2" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-0">
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="">Home</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="@($"nav-link dropdown-toggle")" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Counters
                    </NavLink>
                    <ul class="dropdown-menu shadow-sm">
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="counter">
                                Static Counter
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.Prefix" href="counter/interactive">
                                Interactive Counter
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.Prefix" href="counter/js">
                                Javascript Counter
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="@($"nav-link dropdown-toggle")" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lifecycle Demos
                    </NavLink>
                    <ul class="dropdown-menu shadow-sm">
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="LifecycleDemo">
                                Static Lifecycle
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="LifecycleDemoAsync">
                                Static Lifecycle w/Async
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="LifecycleDemo/interactive">
                                Interactive Lifecycle
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="LifecycleDemoAsync/interactive">
                                Interactive Lifecycle w/Async
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="LifetimeDemo">Lifetime Demo</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="SpinDemo">Spinner Demo</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" Match="NavLinkMatch.All" href="Weather">Weather</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <NavLink class="@($"nav-link dropdown-toggle")" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Demos
                    </NavLink>
                    <ul class="dropdown-menu shadow-sm">
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="theme-demo">
                                Theme Demo
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="NavLinkMatch.All" href="form-demo">
                                Form Demo
                            </NavLink>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
