@page "/not-found"

<PageTitle>Not Found</PageTitle>

<div class="container">
    <h3 class="text-center">Sorry, there's nothing at this address.</h3>
    <hr />
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="/">Go Home</a>
    </div>
</div>

@code {
    
}