@page "/"

<PageTitle>Blazor Server - Home</PageTitle>

<section>
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudText Typo="Typo.h3">Hello, world!</MudText>
        <MudText Typo="Typo.h6">Welcome to your new app.</MudText>
    </MudContainer>
</section>
