@inject ISingletonService Singleton
@inject IScopedService Scoped

<table class="table">
    <tr>
        <td>Singleton</td>
        <td>@Singleton.Id</td>
    </tr>
    <tr>
        <td>Scoped</td>
        <td>@Scoped.Id</td>
    </tr>
</table>

@code {

}
