<table class="table">
    <tbody>
        <tr>
            <td>Singleton</td>
            <td>@SingletonDemo.Guid</td>
        </tr>
        <tr>
            <td>Scoped</td>
            <td>@ScopedDemo.Guid</td>
        </tr>
    </tbody>
</table>

@code {
    [Inject(Key = "Singleton")]
    IDemoService SingletonDemo { get; set; } = default!;

    [Inject(Key = "Scoped")]
    IDemoService ScopedDemo { get; set; } = default!;
}
